<script setup lang="ts">
  const MenuAdmins = [
    {"title":"Главная","to":"/"},
    {"title":"Пользователи","to":"/admin/list/users"},
    {"title":"Язык системы","to":"/admin/list/langs"},
    {"title":"Направление","to":"/admin/list/specialties"},
    {"title":"Преподаватели","to":"/admin/list/professors"},
    {"title":"Категории новости","to":"/admin/list/categories"},
    {"title":"Новости","to":"/admin/list/news"},
    {"title":"Инф. блок","to":"/admin/list/htmlblocks"},
    {"title":"Учебная группа","to":"/admin/list/departgroup"},
  ]

  import { useAuthStore } from '~/stores/auth'; // import the auth store we just created
  const router = useRouter();
  const { logUserOut } = useAuthStore(); // use authenticateUser action from  auth store


  const logout = () => {
    logUserOut();
    router.push('/login');
  };
</script>

<template>
  <div>
    <div class="head">
      <div class="login-img">
        Adminka (v1.1)
      </div>
      <div class="head-right" style="margin-right: 10px" >
        <nuxt-link @click="logout">Выход</nuxt-link>
      </div>
    </div>

    <div class="wrapperbody">
      <div class="left-menu">
        <div class="item_menu" v-for="MenuAdmin in MenuAdmins">
          <NuxtLink :to="MenuAdmin.to" no-prefetch>
            {{MenuAdmin.title}}
          </NuxtLink>
        </div>
      </div>
      <div class="content">
        <slot />
      </div>
    </div>
  </div>
</template>
