<script setup >
import { ref } from 'vue';
import Editor from "~/components/editor.vue";
import Selectdb from "~/components/common/selectdb.vue";
//import Selectdb from "~/components/common/selectdb.vue";
const config = useRuntimeConfig()

const props = defineProps(['formcreate','urlcreate','tablename']); // Assuming 'initialFormValues' is a prop passed from the parent
const emit = defineEmits();

const closeModal=()=>{
  emit('closeModalClick', false);
}
const formData = ref({});
const submitForm = async () => {
  const allFormValues = { ...formData.value }
  const token = useCookie('token');
  //console.log('Form submitted with data:', allFormValues)
  const apiUrl = config.public.apiBaseUrl+props.urlcreate
  const response = await fetch(apiUrl, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      "Authorization": "Bearer " + token.value
    },
    body: JSON.stringify(allFormValues),
  });
  if(!response.ok){
    throw new Error(response.status)
  }



  const datalistStore = useDatalistStore()
  const { data, error } = await useAsyncData(() => datalistStore.fetch())


  const responseData = await response.json();
  closeModal()
};

</script>

<template>
  <div class="modal">
    <div class="modal_content">
      <div class="close_modal" @click="closeModal">
        x
      </div>
      <div class="title_modal">
        Создать запись
      </div>

      <div class="modalform">
        <form
            method="post"
            @submit.prevent="submitForm"
        >
          <div class="form-item" v-for="item in formcreate">
            <div class="title-item">
              {{item.name}}
            </div>
            <div class="input-item">
              <input type="text"
                     v-model="formData[item.column]"
                     :name="item.column"
                     class="textinput"
                     v-if="item.type=='text'" >


              <input type="email"
                     v-model="formData[item.column]"
                     :name="item.column"
                     class="textinput"
                     v-if="item.type=='email'" >


              <input type="password"
                     v-model="formData[item.column]"
                     :name="item.column"
                     class="textinput"
                     v-if="item.type=='password'" >

              <input type="number"
                     v-model="formData[item.column]"
                     :name="item.column"
                     class="textinput"
                     v-if="item.type=='number'" >

              <input type="datetime-local"
                     v-model="formData[item.column]"
                     :name="item.column"
                     class="textinput"
                     v-if="item.type=='datatime'" >


              <input type="checkbox"
                     v-model="formData[item.column]"
                     :checked="formData[item.column]"
                     :name="item.column"
                     :true-value="true"
                     :false-value="false"
                     class="textinput"
                     v-if="item.type=='boolean'" >

              <ClientOnly v-if="item.type=='ckeditor'">
                <Editor v-model="formData[item.column]"  v-if="item.type=='ckeditor'"  />
              </ClientOnly>


              <selectdb
                  v-model="formData[item.column]"
                  :propdata="item"
                  :setvalue="formData[item.column]"
                  :tablename="item.table"
                  v-if="item.type=='selectdb'">
              </selectdb>


              <textarea  v-model="formData[item.column]"
                         :name="item.column"
                         v-if="item.type=='textarea'">
              </textarea>


            </div>

          </div>

          <div class="submitdiv">
            <button type="submit"
                    @submit.prevent="submitCreate"
                    class="savebtn">Создать</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</template>
