.head{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 56px;
    background: #334155;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.head .login-img{
    width: 240px;
    display: flex;
    justify-content: center;
}

.wrapperbody {
    display: flex;
    flex-wrap: wrap;
}
.wrapperbody .left-menu{
    width: 240px;
    padding: 20px 12px;
}
.wrapperbody .left-menu .item_menu{
    color: #64748B;
    /* Body Regular */
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    padding-left: 20px;
}
.wrapperbody .left-menu .item_menu a{
    color: #64748B;
    /* Body Regular */
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
}

.wrapperbody .content{
    display: flex;
    width: calc(100% - 250px);
}

.title_list {
    margin-top: 20px;
    width: 100%;
    color: #64748B;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
.content .card{
    border-bottom: 1px solid  #334155;
    background:  #1E293B;
    color: #94A3B8;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.w100{
    width: 100%;
}
.wrapper_btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.btcreate{
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 4px;
    background:  #0EA5E9;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.tableList{
    width: 100%;
    padding: 10px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.tableList thead tr td
{
    height: 40px;
    border-bottom: 1px solid #334155;
    border-top: 1px solid #334155;
    background: #1E293B;
    margin-top: 10px;
    font-weight: bold;
}

.tableList tbody tr td
{
    height: 51px;
    border-bottom: 1px solid  #334155;
    background: #1E293B;
}

.tableList tbody tr .centertd{

}

.custom-select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


