html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}
body{
    background: #0F172A;
}

/*страница входа Login*/
.wrapper-form-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}
.card_form-login{
    width: 350px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}
.title_card-login{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.form_login{
    width: 100%;
    padding: 5px;
}
.form_login input[type=email],.form_login input[type=password]{
    width: 100%;

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form_login input[type=button]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    background: green;
    color: white;
    font-size: 22px;
}


