
/* modal start*/
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.69);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .modal_content{
    width: 100%;
    max-width: 720px;
    min-height: 100px;
    padding: 10px;
    background: white;
    position: relative;
    color: black;
    max-height: 90vh;
    overflow: auto;
}
.modal .modal_content .close_modal{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #334155;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.modal .modal_content .title_modal{
    /* H2 */
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    width: 100%;
}

.modal  .modalform{
    width: 100%;
}
.modal  .modalform .form-item{
    display: flex;
    flex-wrap: wrap;
}
.modal  .modalform .title-item{
    width: 100%;
    margin-bottom: 10px;
}
.modal  .modalform .input-item{
    width: 100%;
}
.modal  .modalform .submitdiv{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.modal  .modalform .submitdiv .savebtn{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* modal end */
