<script setup lang="ts">

  // Подключения шаблона и авторизации
  import Tablelist from "~/components/common/tablelist.vue";
  import Createrecord from "~/components/common/createrecord.vue";

  definePageMeta({
    layout: 'admin',
    middleware: 'auth',
  })

  /* CONFIG TABLE */
  const tablename="langs"
  const urlcreate="crud/store/langs"
  const tablehead = [
    {"column":"short" , "td":"Короткое название"  },
    {"column":"name", "td":"Полное название"   },
  ]
  const formcreate = [
    {"column":"short", "name" :"Короткое название" , "type":"text"  },
    {"column":"name", "name" :"Полное название" , "type":"text"  },
  ]
  const formedit = [
    {"column":"short" , "name" :"Короткое название" , "type":"text" },
    {"column":"name", "name" :"Полное название" , "type":"text"  },
  ]
  const formlang =[]
  /* END CONFIG TABLE*/
  /*param show modal*/
  const isOpen = ref(false)
  const closeModal = () => {
    isOpen.value = false;
  }



</script>

<template>
  <div class="w100">
    <div class="title_list">
      Пользователи
    </div>

    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Новая запись
      </div>
    </div>

    <div class="card">
      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>


    </div>

  </div>
</template>


<style scoped>

</style>
