<script setup lang="ts">

  // Подключения шаблона и авторизации
  import Tablelist from "~/components/common/tablelist.vue";
  import Createrecord from "~/components/common/createrecord.vue";

  definePageMeta({
    layout: 'admin',
    middleware: 'auth',
  })

  /* CONFIG TABLE */
  const tablename="professors"
  const urlcreate="crud/store/professors"
  const tablehead = [
      {"column":"surname", "td" :"Фамилия"  },
      {"column":"name", "td" :"Имя"   },
      {"column":"middle_name", "td" :"Отчество"   },
      {"column":"post", "td" :"должность"   },
  ]
  const formcreate = [
    {"column":"surname", "name" :"Фамилия" , "type":"text"  },
    {"column":"name", "name" :"Имя" , "type":"text"  },
    {"column":"middle_name", "name" :"Отчество" , "type":"text"  },
    {"column":"slug", "name" :"ЧПУ" , "type":"text"  },
    {"column":"post", "name" :"должность" , "type":"text"  },
    {"column":"sort", "name" :"сортировка" , "type":"number"  },
    {"column":"inf_1", "name" :"Ученая степень и звание" , "type":"ckeditor"  },
    {"column":"inf_2", "name" :"Вид образования" , "type":"ckeditor"  },
    {"column":"inf_3", "name" :"Образования" , "type":"ckeditor"  },
    {"column":"inf_4", "name" :"Подверждающий документ" , "type":"ckeditor"  },
    {"column":"inf_5", "name" :"Защита диссертации" , "type":"ckeditor"  },
    {"column":"inf_6", "name" :"Преподаваемые дисциплины" , "type":"ckeditor"  },
    {"column":"about_text", "name" :"Биография" , "type":"ckeditor"  },
  ]
  const formedit = [
    {"column":"surname", "name" :"Фамилия" , "type":"text"  },
    {"column":"name", "name" :"Имя" , "type":"text"  },
    {"column":"middle_name", "name" :"Отчество" , "type":"text"  },
    {"column":"slug", "name" :"ЧПУ" , "type":"text"  },
    {"column":"post", "name" :"должность" , "type":"text"  },
    {"column":"sort", "name" :"Сортировка" , "type":"number"  },
    {"column":"photo" , "name" :"фотография." , "type":"fileimage" },
    {"column":"inf_1", "name" :"Ученая степень и звание" , "type":"ckeditor"  },
    {"column":"inf_2", "name" :"Вид образования" , "type":"ckeditor"  },
    {"column":"inf_3", "name" :"Образования" , "type":"ckeditor"  },
    {"column":"inf_4", "name" :"Подверждающий документ" , "type":"ckeditor"  },
    {"column":"inf_5", "name" :"Защита диссертации" , "type":"ckeditor"  },
    {"column":"inf_6", "name" :"Преподаваемые дисциплины" , "type":"ckeditor"  },
    {"column":"about_text", "name" :"Биография" , "type":"ckeditor"  },
  ]
  const formlang =[]
  /* END CONFIG TABLE*/
  /*param show modal*/
  const isOpen = ref(false)
  const closeModal = () => {
    isOpen.value = false;
  }



</script>

<template>
  <div class="w100">
    <div class="title_list">
      Преподаватели
    </div>

    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Новая запись
      </div>
    </div>

    <div class="card">
      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>


    </div>

  </div>
</template>


<style scoped>

</style>
