<script setup lang="ts">

// Подключения шаблона и авторизации
import Tablelist from "~/components/common/tablelist.vue";
import Createrecord from "~/components/common/createrecord.vue";

definePageMeta({
  layout: 'admin',
  middleware: 'auth',
})

/* CONFIG TABLE */
const tablename="specialties"
const urlcreate="crud/store/specialties"
const tablehead = [
  {"column":"name", "td":"Название"},
  {"column":"direction", "td":"Направление"},
  {"column":"profile", "td":"Профиль"},

]
const formcreate = [
  {"column":"name", "name" :"Название" , "type":"text"  },
  {"column":"slug", "name" :"ЧПУ" , "type":"text"  },
  {"column":"direction", "name" :"Направление" , "type":"text"  },
  {"column":"profile", "name" :"Профиль" , "type":"text"  },
  {"column":"period_development", "name" :"срок освоения" , "type":"text"  },
  {"column":"form_education", "name" :"форма обучения" , "type":"text"  },
  {"column":"is_dogovor", "name" :"бюджет" , "type":"boolean"  },
  {"column":"is_pyument", "name" :"договор" , "type":"boolean"  },
  {"column":"about", "name" :"Текст на странице" , "type":"ckeditor"  },
]
const formedit = [
  {"column":"name", "name" :"Название" , "type":"text"  },
  {"column":"slug", "name" :"ЧПУ" , "type":"text"  },
  {"column":"direction", "name" :"Направление" , "type":"text"  },
  {"column":"profile", "name" :"Профиль" , "type":"text"  },
  {"column":"period_development", "name" :"срок освоения" , "type":"text"  },
  {"column":"form_education", "name" :"форма обучения" , "type":"text"  },
  {"column":"is_dogovor", "name" :"бюджет" , "type":"boolean"  },
  {"column":"is_pyument", "name" :"договор" , "type":"boolean"  },
  {"column":"about", "name" :"Текст на странице" , "type":"ckeditor"  },
]
const formlang =[]
/* END CONFIG TABLE*/
/*param show modal*/
const isOpen = ref(false)
const closeModal = () => {
  isOpen.value = false;
}



</script>

<template>
  <div class="w100">
    <div class="title_list">
      Список направлений и специальностей
    </div>

    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Новая запись
      </div>
    </div>

    <div class="card">
      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>


    </div>

  </div>
</template>


<style scoped>

</style>
