<script setup lang="ts">

  // Подключения шаблона и авторизации
  import Tablelist from "~/components/common/tablelist.vue";
  import Createrecord from "~/components/common/createrecord.vue";

  definePageMeta({
    layout: 'admin',
    middleware: 'auth',
  })

  /* CONFIG TABLE */
  const tablename="users"
  const urlcreate="auth/signup"
  const tablehead = [
    {"column":"name" , "td":"Ф.И.О."  },
    {"column":"email", "td":"email"   },
  ]
  const formcreate = [
    {"column":"email", "name" :"email" , "type":"email"  },
    {"column":"password", "name" :"пароль" , "type":"password"  },
  ]
  const formedit = [
    {"column":"name" , "name" :"Ф.И.О." , "type":"text" },
    {"column":"email", "name" :"email" , "type":"email"  },
    {"column":"departgroupid", "name" :"Учебная группа" ,
          "type":"selectdb",
          "table":"departgroup",
          "select_option":"id","select_value":"name" },

    {"column":"type_user", "name" :"Тип записи" ,
          "type":"select",
          "select_options":{'1':'Преподователь','2':'Cтудент','3':'Зав.кафедры'} },
  ]
  const formlang =[]
  /* END CONFIG TABLE*/
  /*param show modal*/
  const isOpen = ref(false)
  const closeModal = () => {
    isOpen.value = false;
  }



</script>

<template>
  <div class="w100">
    <div class="title_list">
      Пользователи
    </div>

    <div class="wrapper_btn">
      <div>
      </div>
      <div class="btcreate" @click="isOpen = true" >
        Новая запись
      </div>
    </div>

    <div class="card">
      <tablelist
          :tableheads="tablehead"
          :tablename="tablename"
          :formedit="formedit"
          :formlang="formlang"
      >
      </tablelist>

      <createrecord
          @closeModalClick="closeModal"
          :formcreate="formcreate"
          :urlcreate="urlcreate"
          v-if="isOpen">
      </createrecord>


    </div>

  </div>
</template>


<style scoped>

</style>
