<template>
  <div class="w100">
    <div class="title_list">
      Главная
    </div>
  </div>
</template>

<script setup lang="ts">
  definePageMeta({
    layout: 'admin',
    middleware: 'auth',
  })
</script>
