<template>
  <div class="wrapper-form-login">
    <div class="card_form-login">
      <div class="form_login">
        <div class="title_card-login">
          Вход
        </div>
        <div class="title_card-login">
          email
        </div>
        <div class="title_card-login">
          <input type="email" required  v-model="user.email">
        </div>
        <div class="title_card-login">
          пароль
        </div>
        <div class="title_card-login">
          <input type="password" required  v-model="user.password">
        </div>
        <div class="title_card-login">
          <input type="button" value="Войти" @click.prevent="login">
        </div>
      </div>

    </div>
  </div>
</template>

<script setup lang="ts">
  definePageMeta({
    layout: 'login'
  })
  const config = useRuntimeConfig()
  import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
  import { useAuthStore } from '~/stores/auth'; // import the auth store we just created
  const { seturl } = useAuthStore();
  const { authenticateUser } = useAuthStore(); // use authenticateUser action from  auth store
  const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs
  const urlApi=config.public.apiBaseUrl
  seturl(urlApi)

  const user = ref({
    email: '',
    password: '',
  });
  const router = useRouter();
  const login = async () => {

    await authenticateUser(user.value);
    //console.log(authenticated.value);
    if (authenticated.value) {
      router.push('/');
    }else {
      alert("Error AUTH ")
    }
  };
</script>
